header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 60px;
    background-color: #222;
    border-bottom: 2px solid #f07430;
}

header img {
    position: absolute;
    left: 15px;
    top: 10px;
}

header h2 {
    position: absolute;
    left: 70px;
    top: 25px;
    color: #fff;
    font: normal 13px "Helvetica Neue",Helvetica,sans-serif;
    letter-spacing: 1px;
}

#controls {
    position: absolute;
    right: 15px;
    bottom: 13px;
    color: #fff;
    font: normal 13px "Helvetica Neue",Helvetica,sans-serif;
}

#controls .col {
    display: inline-block;
    margin-right: 10px;
}

#controls .col:last-of-type {
    margin-right: 0;
}

#controls .col span {
    margin-right: 5px;
    display: inline-block;
}

#controls #render {
    background: #659D32;
    height: 35px;
    cursor: pointer;
    border: 1px solid #3B5323;
    border-radius: 15px;
    margin-top: 15px;
    color: #FFF;
}

h1 {
    color: #fff;
    font: normal 24px "Helvetica Neue",Helvetica,sans-serif;
    padding: 8px 8px 8px 24px;
}

section#iframe {
    position: absolute;
    left: 0;
    top: 62px;
    right: 0;
    bottom: 0;
}

iframe {
    position: absolute;
    display: block;
    border: 0;
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    header {
        height: 178px;
    }

    section#iframe {
        top: 180px;
    }
}
