header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 98px;
    background-color: #222;
    border-bottom: 2px solid #f07430;
}

header img {
    position: absolute;
    left: 28px;
    top: 20px;
}

header h2 {
    position: absolute;
    left: 81px;
    top: 36px;
    color: #fff;
    font: normal 13px "Helvetica Neue",Helvetica,sans-serif;
    letter-spacing: 1px;
}

#controls {
    position: absolute;
    right: 28px;
    bottom: 14px;
    color: #fff;
    font: normal 13px "Helvetica Neue",Helvetica,sans-serif;
    white-space: nowrap !important;
}

#controls .col {
    display: inline-block;
    vertical-align: top;
}

#controls .row span {
    width: 80px;
    display: inline-block;
}

#controls select, #controls button {
    font: normal 12px "Helvetica Neue",Helvetica,sans-serif;
}

#controls select {
    width: 80px;
}

#controls #render {
    background: #659D32;
    height: 35px;
    cursor: pointer;
    border: 1px solid #3B5323;
    border-radius: 15px;
    margin-top: 15px;
    color: #FFF;
}

h1 {
    color: #fff;
    font: normal 24px "Helvetica Neue",Helvetica,sans-serif;
    padding: 8px 8px 8px 24px;
}

section#iframe {
    position: absolute;
    left: 0;
    top: 100px;
    right: 0;
    bottom: 0;
}

iframe {
    position: absolute;
    display: block;
    border: 0;
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    header {
        height: 178px;
    }

    section#iframe {
        top: 180px;
    }
}
