body {
    margin: 0;
    font: normal 13px "Helvetica Neue",Helvetica,sans-serif;
}
header {
    width: 100%;
    height: 60px;
    background-color: #222;
    border-bottom: 2px solid #f07430;
    padding: 0 15px;
    box-sizing: border-box;
}

#logo {
    float: left;
}

#logo img {
    margin-top: 10px;
}

#logo h2 {
    position: absolute;
    left: 70px;
    top: 25px;
    color: #fff;
    font: normal 13px "Helvetica Neue",Helvetica,sans-serif;
    letter-spacing: 1px;
}

#controls {
    float: right;
    color: #fff;
}

#controls .col {
    display: inline-block;
    margin-right: 10px;
}

#controls .col:last-of-type {
    margin-right: 0;
}

#controls .col span {
    margin-right: 5px;
    display: inline-block;
}

#controls #render {
    background: #659D32;
    height: 35px;
    cursor: pointer;
    border: 1px solid #3B5323;
    border-radius: 15px;
    margin-top: 15px;
    color: #FFF;
}

h1 {
    color: #fff;
    font: normal 24px "Helvetica Neue",Helvetica,sans-serif;
    padding: 8px 8px 8px 24px;
}

section#iframe {
    position: absolute;
    left: 0;
    top: 62px;
    right: 0;
    bottom: 0;
}

iframe {
    position: absolute;
    display: block;
    border: 0;
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 700px) {
    header {
        height: 110px;
    }

    section#iframe {
        top: 112px;
    }

    #controls {
        clear: left;
        float: left;
    }
}

@media only screen and (max-width: 550px) {
    header {
        height: 200px;
    }

    section#iframe {
        top: 202px;
    }

    #controls {
        margin-top: 15px;
    }

    #controls .col {
        display: block;
    }

    #controls span {
        width: 60px;
    }

    #controls select {
        width: 80px;
    }
}