<div class="checkout-empty">
    <p>{{ 'widgets.ecomcheckout.empty'|translate('Your basket is empty') }}</p>
    <a href="/store" class="checkout-empty-link btn">{{ 'widgets.ecomcheckout.continue_shopping'|translate('Continue shopping') }}</a>
</div>