<div class="bk-content-text">{{ data.content|raw }}</div>

<span class="expand" {% if data.lines|length == 0 or data.lines == 'all' %} style="display: none" {% endif %}>
	<span class="more">{{"widgets.content.more"|translate("more")}}...</span>
	<span class="less" style='display:none'>{{"widgets.content.less"|translate("less")}}...</span>
</span>

