<div class="b-wrap{% if data.align %} {{data.align}}{% endif %}">
    <button class="btn {% if data.italic %}italic{% endif %} {% if data.bold %}bold{% endif %}"><span class="btnText" {% if data.fontSize|length > 0 %}style="font-size: {{data.fontSize}}px"{% endif %}>{{data.text}}</span></button>
</div>