{% set url = null %}
{% for page in pages %}
    {% if page.type == 'home' %}
        {% set url = page.request %}
    {% endif %}
{% endfor %}

{% if url|length>0 %}<a href='{{ relativeUrlPrefix }}/{{ url }}'>{% endif %}

{% if data.business and data.business !='profile' and data.business !=''%}
    {{data.business}}
{% elseif profile.business and profile.business != '' %}
    {{profile.business}}
{% else %}
    My Website
{% endif %}

{% if url|length>0 %}</a>{% endif %}
