<section class="ecom-productslist-products">
    <article class="ecom-productslist-product">
        <div class="ecom-productslist-image-wrap" style="background-image:url('http://placehold.it/2250x800')">
            <img class="ecom-productslist-image" src="http://placehold.it/2250x800">
        </div>
        <div class="ecom-productlist-info">
            <h2 class="ecom-productslist-title"><a href="/store/product/1">Aliquam Handbag</a></h2>
            <span class="ecom-productlist-price">From £320,00</span>
        </div>
    </article>
    <article class="ecom-productslist-product">
        <div class="ecom-productslist-image-wrap" style="background-image:url('http://placehold.it/300x100')">
            <img class="ecom-productslist-image" src="http://placehold.it/300x100">
        </div>
        <div class="ecom-productlist-info">
            <h2 class="ecom-productslist-title"><a href="/store/product/2">Commodo Handbag Lorem Ipsum Dolor Sit Amet Very Long Name</a></h2>
        <span class="ecom-productlist-price">From £45,00</span>
        </div>
    </article>
    <article class="ecom-productslist-product">
        <div class="ecom-productslist-image-wrap" style="background-image:url('http://placehold.it/250x250')">
            <img class="ecom-productslist-image" src="http://placehold.it/250x250">
        </div>
        <div class="ecom-productlist-info">
        <h2 class="ecom-productslist-title"><a href="/store/product/3">Conubia Nostra Handbag</a></h2>
        <span class="ecom-productlist-price">£45,00</span>
        </div>
    </article>
    <article class="ecom-productslist-product">
        <div class="ecom-productslist-image-wrap" style="background-image:url('http://placehold.it/529x150')">
            <img class="ecom-productslist-image" src="http://placehold.it/529x150">
        </div>
        <div class="ecom-productlist-info">
        <h2 class="ecom-productslist-title"><a href="/store/product/4">Magnis Handbag</a></h2>
        <span class="ecom-productlist-price">£45,00</span>
        </div>
    </article>
    <article class="ecom-productslist-product">
        <div class="ecom-productslist-image-wrap" style="background-image:url('http://placehold.it/600x200')">
            <img class="ecom-productslist-image" src="http://placehold.it/600x200">
        </div>
        <div class="ecom-productlist-info">
        <h2 class="ecom-productslist-title"><a href="/store/product/5">Montes Handheld Bag</a></h2>
        <span class="ecom-productlist-price">£45,00</span>
        </div>
    </article>
    <article class="ecom-productslist-product">
        <div class="ecom-productslist-image-wrap" style="background-image:url('http://placehold.it/250x250')">
            <img class="ecom-productslist-image" src="http://placehold.it/250x250">
        </div>
        <div class="ecom-productlist-info">
        <h2 class="ecom-productslist-title"><a href="/store/product/6">Tristique Handbag</a></h2>
        <span class="ecom-productlist-price">£45,00</span>
        </div>
    </article>
</section>