<form class="blog-search-form">
    <label for="search-term">{{ 'widget.blogsearch.label'|translate('Search posts') }}</label>
    <input id="search-term" name="searchTerm" class="blog-search-input" type="search">
    <button class="blog-search-submit-button" type="submit">{{ 'widget.blogsearch.submit'|translate('Search') }}</button>
</form>

