{% if plugins.ecommerce.products|length %}
<section class="ecom-productslist-products">
    {% for product in plugins.ecommerce.products %}
    <article class="ecom-productslist-product">
        {% if product.assets is not null %}
            {% for asset in product.assets %}
                {% if plugins.assets.images[asset.assetRef].fileType == 'image' %}
                    {% set imageSrc = plugins.assets.images[asset.assetRef].url %}
                    <div class="ecom-productslist-image-wrap" style="background-image:url('{{ imageSrc }}')">
                        <img class="ecom-productslist-image" src="{{imageSrc}}">
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <h2 class="ecom-productslist-title"><a href="/store/product/{{product.ref}}">{{product.title}}</a></h2>
    </article>
    {% endfor%}
{% else %}
    <p>There aren't any products to display.</p>
{% endif %}
