{% if plugins.menu and plugins.menu.items %}

    <ul class='menu-section-list'>
        {% for topSection in plugins.menu.items %}
        <li><a href='#menu-section-{{topSection.ref}}'>{{ topSection.title }}</a></li>
        {% endfor %}
    </ul>
    
{% else %}
    <p>{{"shared_views.menu.no-menu"|translate("You have no menu")}}</p>
{% endif %}