<div class="embed-default">
	{{"widgets.embed.instructions"|translate("You can paste in HTML including script tags to add custom features to BaseKit.")}}<br/><br/>
	{{"widgets.embed.instructions2"|translate("Click here to edit the code.")}}
</div>
<div class="content"></div>