<div class="ecombasket-pull"><p>Basket: <span class="basket-count">2</span></p></div>
<div class="ecombasket-list-container">
	<ul>
		<li data-ref="1">
			<div class="ecombasket-item-image" style="background-image:url('http://placehold.it/250x250');">
				<img src="http://placehold.it/250x250">
			</div>
			<span class='ecombasket-item-title'>Aliquam Handbag</span>
			<span class='ecombasket-item-count'>1</span>
			<button class='js-remove'>Remove</button>
		</li>
		<li data-ref="2">
			<div class="ecombasket-item-image" style="background-image:url('http://placehold.it/300x100');">
				<img src="http://placehold.it/300x100">
			</div>
			<span class='ecombasket-item-title'>Commodo Handbag</span>
			<span class='ecombasket-item-count'>1</span>
			<button class='js-remove'>Remove</button>
		</li>
	</ul>
	<div class="ecombasket-total-wrap"><p>Total: <span class="ecombasket-total">GBP 2</span></p></div>
	<div class="ecombasket-checkout-wrap"><a class="ecombasket-checkout-link" href="/store/checkout">Checkout</a></div>
</div>