<h2 class="checkout-title">{{ 'widgets.ecomcheckout.checkout_title'|translate('Checkout') }}</h2>
<ul class="checkout-items js-checkout-items">
    
</ul>
<div class="checkout-total-wrap"><p>Total: <span class="checkout-total">0</span></p></div>
