<div class="ecombasket-pull js-pull"><p>Basket: <span class="basket-count">2</span></p></div>
<div class="ecombasket-list-container">
	<ul>
		<li data-ref="1">
			<div class="ecombasket-item-image" style="background-image:url('http://placehold.it/250x250');">
				<img src="http://placehold.it/250x250">
			</div>
			<div class="ecombasket-item-info">
				<span class='ecombasket-item-title'>Aliquam Handbag</span>
				<div class="ecombasket-item-count-wrapper">
					<span class='ecombasket-item-count-label'>Quantity:</span>
					<span class='ecombasket-item-count'>1</span>
				</div>
				<span class="ecombasket-item-price">£19.95</span>
				<span class='ecombasket-remove-button js-remove'>Remove</span>
			</div>
		</li>
		<li data-ref="2">
			<div class="ecombasket-item-image" style="background-image:url('http://placehold.it/300x100');">
				<img src="http://placehold.it/300x100">
			</div>
			<div class="ecombasket-item-info">
				<span class='ecombasket-item-title'>Commodo Handbag</span>
				<div class="ecombasket-item-count-wrapper">
					<span class='ecombasket-item-count-label'>Quantity:</span>
					<span class='ecombasket-item-count'>1</span>
				</div>
				<span class="ecombasket-item-price">£19.95</span>
				<span class='ecombasket-remove-button js-remove'>Remove</span>
			</div>
		</li>
	</ul>
	<div class="ecombasket-total-wrap"><p>Total: <span class="ecombasket-total">£2</span></p></div>
	<div class="ecombasket-checkout-wrap"><a class="ecombasket-checkout-link" href="/store/checkout">Checkout</a></div>
</div>