<div class="ecombasket-pull"><p>Basket: <span class="basket-count">0</span></p></div>

<div class="ecombasket-list-container">
<ul>
</ul>
<a class="basket-checkout-link" href="/store/checkout">{{ 'widget.ecombasket.checkout_link'|translate('Checkout') }}</a>
</div>

