
<h3>site logo widget</h3>
<table border="1">
  <tr><td>example</td><td>{{example}}</td></tr>
  <tr><td>profile.twitter</td><td>{{profile.twitter}}</td></tr>
  <tr><td>static.testing.example</td><td>{{static.testing.example}}</td></tr>
</table>


