<p>Basket: <span class="basket-count">0</span></p>
<p>Total: <span class="basket-total">0</span></p>

<ul>
</ul>
<a class="basket-checkout-link" href="/store/checkout">{{ 'widget.ecombasket.checkout_link'|translate('Checkout') }}</a>
