{% set categories = plugins.ecommerce.store.categories %}
{% set products = plugins.ecommerce.products %}

{% if products|length > 0 %}
    {% if categories|length > 0 %}
        {% set foundProduct = false %}
        {% for product in products %}
            {% if product.category != null and product.category|length > 0 %}
                {% set foundProduct = true %}
            {% endif %}
        {% endfor %}

        {% if foundProduct %}
            <aside class="product-category">

                {% if data.title|length > 0 %}
                <h3>{{ data.title }}</h3>
                {% endif %}

                <ul class="product-category-items">
                    {% for category in categories %}
                        {% include "widgets/widget_ecomcategorieslist_item.twig" %}
                    {% endfor %}
                </ul>
            </aside>

        {% elseif app.mode != 'published' and app.mode != 'site-preview' %} {# end products in categories check #}

            <p>None of the categories in your store have any products. Add a product to a category to use this widget.</p>

        {% endif %}

    {% elseif app.mode != 'published' and app.mode != 'site-preview' %}

        <p>Your store does not have any categories yet. Add a product to a category to use this widget.</p>

    {% endif %} {# end categories check #}

{% elseif app.mode != 'published' and app.mode != 'site-preview' %}

    <p>Your store does not have any products. Add a product to a category to use this widget.</p>

{% endif %} {# end products check #}

