<div class="ecombasket-pull"><p>Basket: <span class="basket-count">2</span></p></div>
<div class="ecombasket-list-container">
	<ul>
		<li data-ref="1">
			<div class="ecombasekit-item-image" style="background-image:url('http://placehold.it/250x250');">
				<img src="http://placehold.it/250x250">
			</div>
			<span>Aliquam Handbag</span>
			<button>Remove</button>
		</li>
		<li data-ref="2">
			<div class="ecombasekit-item-image" style="background-image:url('http://placehold.it/300x100');">
				<img src="http://placehold.it/300x100">
			</div>
			<span>Commodo Handbag</span>
			<button>Remove</button>
		</li>
	</ul>
	<div class="basket-total-wrap"><p>Total: <span class="basket-total">GBP 2</span></p></div>
	<div class="basket-checkout-wrap"><a class="basket-checkout-link" href="/store/checkout">Checkout</a></div>
</div>