<div class="bk-content-text">
{% if debugMode %}
{{ data.content }}
{% else %}
{{ data.content|raw }}
{% endif %}
</div>

<span class="expand" {% if data.lines|length == 0 or data.lines == 'all' %} style="display: none" {% endif %}>
	<span class="more">more...</span>
	<span class="less" style='display:none'>less...</span>
</span>

