<a href='{{ relativeUrlPrefix }}/'>

{% if data.business and data.business !='profile' and data.business !=''%}
    {{data.business}}
{% elseif profile.business and profile.business != '' %}
    {{profile.business}}
{% else %}
    My Website
{% endif %}

</a>
