<form action="" method="post">
	<fieldset>
		<label for="email">Your Email:</label>
		<input type="email" class="email" placeholder="Type your Email">

		<label for="message">Message:</label>
		<textarea class="message"></textarea>
        
        <button class="btn btnText {% if data.italic %}italic{% endif %} {% if data.bold %}bold{% endif %}" type="submit" {% if data.fontSize|length > 0 %}style="font-size: {{data.fontSize}}px"{% endif %}>{{data.text}}</button>

	</fieldset>
</form>