<aside class="product-category">
    <h3>Categories</h3>
    <ul class="product-category-items">
        <li><a href="/store?category=man">Man <span>(3)</span></a></li>
        <li><a href="/store?category=woman">Woman <span>(3)</span></a></li>
    </ul>
</aside>