<form action="" method="post">
	<fieldset>
		<div class="form-group">
			<label for="contactform-email">Your Email:</label>
			<input type="email" class="email" placeholder="Type your Email" name="contactform-email" id="contactform-email">
		</div>
		<div class="form-group">
			<label for="contactform-message">Message:</label>
			<textarea class="message" name="contactform-message" id="contactform-message"></textarea>
        </div>
        <div class="form-group">
        	<button class="btn btnText {% if data.italic %}italic{% endif %} {% if data.bold %}bold{% endif %}" type="submit" {% if data.fontSize|length > 0 %}style="font-size: {{data.fontSize}}px"{% endif %}>{{data.text}}</button>
        </div>
	</fieldset>
</form>