{% set refUrl = 'http://setup.' ~ data.domain ~ '?siteRef=' ~ data.siteRef %}

<p><a class="btn" href="http://login.{{ data.domain }}?redirectUrl={{ refUrl|url_encode }}">Log in</a> or <a href="http://{{ data.brandUrl }}">buy a site like this</a>.</p>
