<div class='linkedincompanyprofile'>
{% if data.source == 'companyName' and (data.companyName|length > 0 or profile.business|length > 0) %}
	<div class="profile-details">
		{% if (data.companyName and data.companyName|length > 0) %}
			{% set search = data.companyName|lower|replace({' ': '-'})|url_encode %}
			<script type="IN/CompanyProfile" data-id="http://www.linkedin.com/company/{{ search }}" data-related="false" data-width="320" data-format="inline"></script>
		{% else %}
			{% set search = profile.business|lower|replace({' ': '-'})|url_encode %}
			<script type="IN/CompanyProfile" data-id="http://www.linkedin.com/company/{{ profile.business|url_encode }}" data-related="false" data-width="320" data-format="inline"></script>
		{% endif %}
	</div>
{% elseif data.source == 'id' and data.linkedinID|length > 0 %}
	<div class="profile-details">
		<script type="IN/CompanyProfile" data-id="{{ data.linkedinID }}" data-related="false" data-width="320" data-format="inline"></script>
	</div>
{% elseif app.mode != 'published' and app.mode != 'site-preview' %}
	<span class="no-profile">No Linkedin business profile set</span>
{% endif %}
</div>