<form action="" method="post">
	<fieldset>
		<div class="form-group">
			<label for="email" class="label">{{ data.label }}:</label><input type="email" class="email" placeholder="Type your Email"><button class="btn btnText {% if data.italic %}italic{% endif %} {% if data.bold %}bold{% endif %}" type="submit" {% if data.fontSize|length > 0 %}style="font-size: {{data.fontSize}}px"{% endif %}>{{data.text}}</button>
        </div>
	</fieldset>
</form>