<form>
    <fieldset>
        <label for="password" class="label">{{ data.label }}</label>
        <input class="password" type="password" />
        <button class="password-mask-toggle" type="button" aria-controls="password">{{"widgets.resetpassword.show"|translate("Show")}}</button>
        <button class="btn btnText {% if data.italic %}italic{% endif %} {% if data.bold %}bold{% endif %}" type="submit" {% if data.fontSize|length > 0 %}style="font-size: {{data.fontSize}}px"{% endif %}>{{data.text}}</button>
    </fieldset>
</form>
