{% if profile.disqus_shortname|length %}
    <div id="disqus_thread"></div>
    <script>
        var disqus_shortname = '{{ profile.disqus_shortname }}';
        {% if plugins.blog|length and plugins.blog.isPostPage %}
            var disqus_identifier = '{{ 'blog_post_' ~ plugins.blog.posts[0].ref }}';
        {% else %}
            var disqus_url = '{{ data.url }}';
        {% endif %}

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>
        <p>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></p>
    </noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
{% else %}
    <p class="empty-message">To setup Disqus comments on your site, please follow the instructions in the widget settings.</p>
{% endif %}

