<div class='linkedincompanyprofile'>
{% if data.source == 'companyName' and (data.companyName|length > 0 or profile.business|length > 0) %}
	<div class="profile-details">
		{% if(data.companyName and data.companyName|length > 0) %}
			<script type="IN/CompanyProfile" data-id="http://www.linkedin.com/company/{{ data.companyName|format_url }}" data-related="false" data-width="320" data-format="inline"></script>
		{% else %}
			<script type="IN/CompanyProfile" data-id="http://www.linkedin.com/company/{{ profile.business|format_url }}" data-related="false" data-width="320" data-format="inline"></script>
		{% endif%}
	</div>
{% elseif data.source == 'id' and data.linkedinID|length > 0 %}
	<div class="profile-details">
		<script type="IN/CompanyProfile" data-id="{{ data.linkedinID }}" data-related="false" data-width="320" data-format="inline"></script>
	</div>
{% else %}
	<span class="no-profile">{{"widgets.linkedincompanyprofile.noprofile"|translate("No Linkedin business profile set")}}</span>
{% endif %}
</div>