<div class="ecombasket-pull"><p>Basket: <span class="basket-count">0</span></p></div>
<div class="ecombasket-list-container">
	<ul>
	</ul>
	<div class="basket-total-wrap"><p>Total: <span class="basket-total">0</span></p></div>
	<div class="basket-checkout-wrap"><a class="basket-checkout-link" href="/store/checkout">{{ 'widget.ecombasket.checkout_link'|translate('Checkout') }}</a></div>
</div>
