<div class='linkedinprofile'>
{% if profile.linkedin|length > 0 %}
	<div class="profile-details">
		<script type="IN/MemberProfile" data-id="{{ profile.linkedin }}" data-related="false" data-width="320" data-format="inline"></script>
	</div>
{% else %}
	<span class="no-profile">No Linkedin profile set</span>
{% endif %}
</div>